<div class="row">
    <div class="col-5">
        <label>
            <input type="text" id="search-text" class="form-control mb-3 mt-3" name="searchText" aria-describedby="search-text"
            [(ngModel)]="searchText" placeholder="Enter text to search" autofocus autocomplete="off">
        </label>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul>
            <li *ngFor="let box of data | filter: searchText" (click)="select(box)">
                {{box | reverse}}
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2 class="text-center">{{selectedText}}</h2>
    </div>
</div>
